/*===========================
        5.FEATURES css 
===========================*/


.features-area {
    background-color: $light-color-two;
}

.single-features {
    background-color: $white;
    padding: 40px 20px;

    & .features-icon {
        position: relative;
        display: inline-block;

        & i {
            font-size: 88px;
            line-height: 70px;
            color: $primary-one;
            position: relative;
            z-index: 5;
        }

        & .shape {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    & .features-content {
        margin-top: 24px;

        & .features-title {
            & a {
                font-size: 28px;
                line-height: 35px;
                font-weight: 500;
                color: $text-color-one;
                @include transition(0.3s);

                @media #{$lg} {
                    font-size: 22px;
                }

                @media #{$xs} {
                    font-size: 22px;
                }

                &:hover {
                    color: $primary-one;
                }
            }
        }

        & .text {
            font-size: 14px;
            line-height: 20px;
            color: $text-color-one;
            margin-top: 16px;
        }

        & .features-btn {
            margin-top: 32px;
        }
    }
}
