


/*===========================
     10.BLOG css 
===========================*/


.blog-area{
    @media #{$xs}{
        padding-top: 75px;
    }
}

.single-blog{
    @include box-shadow(0px 15px 21px 0px rgba(254,119,101,0.06));
    
    & .blog-image{
        overflow: hidden;
        
        & img{
            width: 100%;
            @include transition(0.4s);
        }
    }
    & .blog-content{
        background-color: $white;
        border: 1px solid $hr-border-color;
        border-top: 0;
        
        & .content{
            padding: 20px 30px 25px;
            & .title{
                & a{
                    font-size: 20px;
                    color: $heading-color;
                    line-height: 36px;
                    @include transition(0.4s);
            
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
            & span{
                font-size: 16px;
                font-style: italic;
                color: $body-text-color;
            }
        }
        & .meta{
            border-top: 1px solid $hr-border-color;
            padding: 20px 30px 25px;
            
            & .meta-admin{
                
                & .image{
                    & a{
                        & img{
                            border-radius: 50%;
                        }
                    }
                }
                & .admin-title{
                    padding-left: 20px;
                    
                    & .title{
                        & a{
                            font-size: 16px;
                            font-weight: 500;
                            color: $heading-color;
                            @include transition(0.4s);
            
                            &:hover{
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
            & .meta-icon{
                
                & ul{
                    & li{
                        display: inline-block;
                        margin-right: 15px;
                        
                        &:last-child{
                            margin-right: 0;
                        }
                        & a{
                            font-size: 16px;
                            color: $heading-color;
                            @include transition(0.4s);
            
                            &:hover{
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
    
    &:hover{
        & .blog-image{
            & img{
                @include transform(scale(1.1));
            }
        }
    }
}






