


/*===========================
    3.SLIDER css 
===========================*/


.slider-area{}

.slider-active{
    & .slick-dots{
        position: absolute;
        top: 50%;
        left: 0;
        @include transform(translateY(-50%));
        text-align: center;
        @media #{$desktop}{
            left: 30px;
        }
        & li {
            line-height: 0;
            margin: 15px 0;
            & button{
                width: 10px;
                height: 10px;
                font-size: 0;
                border: 0;
                background-color: #fbb0a5;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        & li.slick-active {
            & button{
                width: 15px;
                height: 15px;
                background-color: $theme-color;
            }
        }
    }
}

.single-slider{
    position: relative;
    
    @media #{$desktop}{
        padding: 0 100px;
    }
    @media #{$laptop}{
        padding: 0 30px;
    }
    
    & .slider-bg{
        background-color: $grey;
    }
    
    & .slider-product-image{
        & img{
            width: 100%;
        }
        
        & .slider-discount-tag{
            width: 125px;
            height: 125px;
            background-color: $theme-color;
            border-radius: 50%;
            text-align: center;
            display: table;
            position: absolute;
            top: 90px;
            right: -63px;
            
            @media #{$lg}{
                width: 100px;
                height: 100px;
                right: -50px;
                top: 50px;
            }
            @media #{$md}{
                width: 100px;
                height: 100px;
                right: -50px;
                top: 50px;
            }
            
            & p{
                display: table-cell;
                vertical-align: middle;
                color: $white;
                font-size: 18px;
                font-weight: 600;
                line-height: 33px;
            }
        }
    }
    
    & .slider-product-content{
        max-width: 670px;
        margin-left: 125px;
        
        @media #{$lg}{
            margin-left: 100px;
        }
        @media #{$md}{
            margin-left: 70px;
        }
        @media #{$xs}{
            margin-left: 0;
            padding: 40px 15px 50px;
        }
        
        & .slider-title{
            font-size: 92px;
            z-index: 1;
            
            @media #{$lg}{
                font-size: 68px;
            }
            @media #{$md}{
                font-size: 48px;
            }
            @media #{$xs}{
                font-size: 42px;
            }
            @media #{$sm}{
                font-size: 52px;
            }
            
            & span{
                position: relative;
                
                &::before{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 10px;
                    background-color: rgba(254, 120, 101, 0.5);
                    left: 0;
                    bottom: 17px;
                    z-index: auto;
                    
                    @media #{$md}{
                        bottom: 7px;
                    }
                    @media #{$xs}{
                        bottom: 8px;
                        height: 6px;
                    }
                }
            }
        }
        
        & p{
            & br{
                @media #{$lg}{
                    display: none;
                }
                @media #{$md}{
                    display: none;
                }
                @media #{$xs}{
                    display: none;
                }
            }
        }
    }
}



.slider-social{
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 100%;
    
    @media #{$desktop}{
        padding: 0 100px;
    }
    @media #{$laptop}{
        padding: 0 30px;
    }
    
    & .social{
        position: relative;

        & li{
            display: inline-block;
            margin: 0 5px;

            & a{
                font-size: 18px;
                color: $hr-border-color;
                border: 1px solid $hr-border-color;
                width: 30px;
                line-height: 32px;
                height: 30px;
                text-align: center;
                @include transition(0.4s);

                &:hover{
                    color: $theme-color;
                    border-color: $theme-color;
                }
            }
        }

        &::before{
            position: absolute;
            content: '';
            width: 70%;
            height: 1px;
            background-color: $theme-color;
            top: 50%;
            @include transform(translateY(-50%));
            left: 0;

            @media #{$lg}{
                width: 63%;
            }
            @media #{$md}{
                width: 48%;
            }
            @media #{$xs}{
                width: 35%;
                left: 60px;
            }
            @media #{$sm}{
                width: 65%;
            }
        }
    }
}






