// Font Family
$poppins: 'Poppins', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;

// Grey Color
$grey:#fffaf6;
$grey-2:#ffe8e5;
$grey-3:#e5e5e5;
$grey-4:#fff3f1;

// Theme Color
$theme-color: #fe7865;

// Body Color
$body-text-color: #777;
$body-text-color-2: #c4c4c4;

// Border Color
$hr-border-color:#ddd;

// Rating Color
$rating-color:#fc924b;


// Heading Color
$heading-color: #333;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1400px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


